page-projetos {
    ion-navbar{
        background-color: rgba(21, 179, 171, 0.89);
    }

    ion-col div{
        background-color: rgba(21, 179, 171, 0.89);
        margin: 3px;
    }

    .cor{
        background-color: rgba(21, 179, 171, 0.89);
    }
    .fundo{background-color: #222}
    .card-background-page{
        background-color: #222;  
    }

    img{
        width: auto;
        height: auto;
        text-align: center;
    }

    .card-title{
        color: white;
        text-align: center;
    }

    .card-subtitle{
        color: white;
        text-align: center;
    }

}


