page-criar {
    .fundo{background-color: #222};
    .container{
        text-align: center;
    }
    .container{
        background-color: #222;
    }
    .forms{

        background-color: #222;
        color: aliceblue
    }
}
